<div class="row">
  <div class="col-md-12 mx-auto">
    <form
      class="form-inline d-flex justify-content-center md-form form-sm mt-0"
    >
      <i class="fas fa-search" aria-hidden="true"></i>
      <input
        class="form-control form-control-sm ml-3 w-75"
        type="text"
        placeholder="Search with name"
        aria-label="Search with name"
        name="searchString"
        [(ngModel)]="searchString"
      />
    </form>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Name</th>
      <th scope="col">Average rating</th>
    </tr>
  </thead>
  <tr
    scope="row"
    *ngFor="let product of products$ | async | filter: 'name':searchString"
  >
    <td>{{ product.code }}</td>
    <td>{{ product.manufacturer }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.averageRating | number: "1.0-2" }}</td>
    <td>{{ product.price.formattedValue }}</td>
  </tr>
</table>
